# optimus Kernel Tweak Script
service ruthless /system/bin/sh /init.ruthless.sh
	class main
	user root
	group root
	oneshot

    # Process Reclaim
    write /sys/module/process_reclaim/parameters/enable_process_reclaim 1
    write /sys/module/process_reclaim/parameters/pressure_min 50
    write /sys/module/process_reclaim/parameters/pressure_max 70
    write /sys/module/process_reclaim/parameters/per_swap_size 512
    write /sys/module/process_reclaim/parameters/swap_opt_eff 30
    write /proc/PID/reclaim all

    # Set I/O Scheduler tweaks
    write /sys/block/mmcblk0/queue/scheduler maple
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/iosched/writes_starved 4
    write /sys/block/mmcblk0/queue/iosched/fifo_batch 16
    write /sys/block/mmcblk0/queue/iosched/sync_read_expire 350
    write /sys/block/mmcblk0/queue/iosched/sync_write_expire 550
    write /sys/block/mmcblk0/queue/iosched/async_read_expire 250
    write /sys/block/mmcblk0/queue/iosched/async_write_expire 450
    write /sys/block/mmcblk0/queue/iosched/sleep_latency_multiple 10

    # Set UKSM configuration
    write /sys/kernel/mm/uksm/max_cpu_percentage 20
    write /sys/kernel/mm/uksm/run 1

    # Enable Laptop Mode
    write /proc/sys/vm/laptop_mode 1
